* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

html, body {overflow-x: hidden;}

/*----header-icons----*/
header {
  background-image: url('https://images.unsplash.com/photo-1457460866886-40ef8d4b42a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 163%;
  background-position: bottom;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

#socials {
  justify-content: space-between;
}

.border {
  border-bottom: dashed 1px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

.img{
  padding-top: 3%;
  height: 70px;
  width: 70px;
  padding-right: 20px;
}

.logo{
  margin: 0;
  position: absolute;
  top: 15%;
}

.dropdown {
  overflow: hidden;
  flex-wrap: wrap;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
}

.dropbtn:hover{
  color: #12a84e
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #12a84e;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header ul {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
}

header li {
    display:inline;
    padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #12a84e;
}

#login li a{
  padding-left: 40px;
  font-weight: bold;
}

.menu li a{
  padding-left: 10px;
}

.main {
  margin: 6.5%;
  text-align: center;
}

.main h1{
  padding: 1%;
  padding-bottom: 9%;
  font-size: 40px;
}

.main p {
  font-size: 35px;
}

.main button{
  background-color: white;
  border: none;
  color: #12a84e;
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  justify-content: space-around;
  border-radius: 8px;
  margin-bottom: 5%;
}

.main button:hover {
  background-color:#12a84e;
  color: white;
}

/*----card-view----*/
.card {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

.card img {
  width: 320px;
  height:280px;
  object-fit: cover;
  object-position: 50%;
}

.card-item {
  border: solid 2px;
  padding-left: 30px;
  padding-right: 30px;
}

.card-item #content{
  margin-top: 3%;
}

.card-item i{
  display: inline-block;
  padding-right: 40px;
  justify-content: space-between;
}

.card button{
  background-color: #12a84e;
  border: solid 1px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  justify-content: space-around;
}

.card :hover{
  border-color: #12a84e;
  background-color:white;
  color: #12a84e;
}

/*schedule*/
.schedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

.schedule p{
  display: none;
}

.days {
  display: grid;
  grid-template-columns:   120px 120px 120px 120px 120px 120px 120px;
  text-align: center;
}

.table li {
    display:inline;
    padding: 6px;
    border-right: 1px solid white; 
}

.table .cb{
  border-color: #12a84e;
}

.color {
  margin-top: 90px;
  background-color: #12a84e;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

table, th, td {
  border: none;
  padding: 10px;
  text-align: left;
}

th{
  padding-bottom: 25px;
}

table{
  width: 120%;
}

/*contact-info*/
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 3%;
}

.back {
  background-color: black;
  color: white;
}


.back th, .back i{
  color: #12a84e;
}

.back i{
  padding-right: 10px;
}

.back input{
  padding: 10px 35px;
  text-align: left;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  justify-content: space-around;
}

.back button{
  background-color: #12a84e;
  color: white;
  padding: 10px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  justify-content: space-around;
}

.nl th{
  padding-top: 12%;
}

.back th{
  font-size: 20px;
}

/*footer*/
footer {
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #login{text-align: right;}
  .main p{font-size: 20px;}
  .main h1{font-size: 20px;}
  .main button{font-size: 10px;}
  .info, .schedule, .card, .navbar, .row{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 12px;
  }
  html, body {overflow-x: hidden;}
  .card {display: inline;}
  .card img {object-fit: contain;}
  .card-item {margin-right: 6%; margin-left: 6%; font-size: 7px;}
  .card-item button{font-size: 8px;}
  .img{ height: 50px; width: 50px;}
  footer {font-size: 10px;}
  .navbar .logo, .dropdown, .row i, .info a, .info #follow {display: none;}
  .back th{font-size: 15px;}
  .back tr, .back input, .back button{font-size: 8px; padding: 2px 5px;}
  .schedule{display: flex; font-size: 10px;}
  .schedule li{display: none;}
  .schedule p{display: flex; padding-left: 150px; text-align: center;}
}

/*@media only screen and (min-width: 600px) {
  /* For tablets: *
}*/

/*@media only screen and (min-width: 768px) {
  /* For desktop: *
}*/